media/customer/
media/dhl/
media/downloadable/
media/.htaccess
media/import/
media/xmlconnect/
media/catalog/product/cache/
media/catalog/product/placeholder/default/
nbproject/
php.ini.sample
RELEASE_NOTES.txt
var/
media/
